<footer>
    <nav>|
        <a href='https://github.com/ysbc1247/' target='_blank'>Github</a>
    </nav>
    <p>
        <span>Reference : https://developers.kakao.com</span><br>
        <span>Source Code : https://github.com/ysbc1247/fastfood-recommendation</span><br>
        <span>Copyright 2022. ystc1247. All Rights Reserved.</span>
    </p>
</footer>